.admintitle
{
	background-color:#530602;
	color:#fff;
	margin-left:30px;
	margin-right:30px;
	height:140px;
	line-height:140px;
}

.dashboard 
{
	background-color:#1DEFEF;
	color:#000;
	margin-left:30px;
	margin-right:30px;
	height:120px;
	font-size:25px;
}